<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30">
    <!-- bootstrap-css links v4.6-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- bootsrap-javascript links -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

    <!--svg icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Mobile responsive-->
    <style>
        @media (min-width: 375px) and (max-width: 812) {}
    </style>


    <title>plantery</title>
</head>

<body style="background-color: #ecf0f3;">
    <div class="container" style="position:fixed;margin-top:40px">
        <div class="col">
            <div class="pos-f-t">
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="bg-dark p-2">
                        <div class="list-group">

                            <a href="my_plant_list.html" class="list-group-item list-group-item-action">My plants</a>
                            <a href="home_plants_donate.html" class="list-group-item list-group-item-action">Get free
                                plants</a>
                            <a href="#" class="list-group-item list-group-item-action">My profile</a>
                            <a href="#" class="list-group-item list-group-item-action">Settings</a>
                            <a href="index.html" class="list-group-item list-group-item-action ">Log out</a>
                        </div>

                    </div>
                </div>
                <nav class="navbar navbar-dark bg-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>
            </div>

        </div>
        <!-- div with home icon,foto icon and chat icon-->
        <div class="container" style="margin-top: 10px;">
            <div class="row row-cols-2 justify-content-center">
                <span hidden name="userId" id="userId">
                    <%=userId%>
                </span>
                <!--username and avatar-->
                <div class="col text-center">
                    <figure class="btn btn-light rounded rounded-2">
                        <img id="userAvatar" name="userAvatar" style="width: 75px;height: 75px;" src="<%=avatar%>"
                            class="">
                        <figure-caption>
                            <h6 id="username" name="username">
                                <%=username%>
                            </h6>
                        </figure-caption>
                    </figure>

                </div>
                <!--end username and avatar-->

                <div class="col">

                    <a href="/board_mobile" id="leaderId">
                        <figure class="figure btn btn-light">

                            <i class="bi bi-trophy-fill"></i>

                            <figcaption class="figure-caption">
                                <label id="points" name="points">
                                    <%=points%>
                                </label>
                            </figcaption>
                        </figure>
                    </a>

                </div>

            </div>
        </div>


        <!-- Daily plant measures -->

        <div class="rounded-lg container border border-white  shadow p-3 mb-4 " style="margin-top: 15px;">
            <table class="justify-content-md-center">
                <tr class="col-12">
                    <td class="col border-right">
                        <figure class="figure">
                            <img style="width: 50px;height: 50px;" src="<%=plantAvatar%>">
                            <figcaption class="figure-caption" style="text-align: center;">
                                <%=plantName%>
                            </figcaption>
                        </figure>
                    </td>
                    <td class="">
                        <div style="margin-left: 100px;">Daily plant health</div>
                        <table>
                            <tr>
                                <td class="col col-lg-2">
                                    <figure class="figure">
                                        <i class="bi bi-droplet-half" style="color: green;"></i>
                                        <figcaption class="figure-caption" style="font-style:oblique;">
                                            humidity:
                                            <span id="humidity" name="humidity">
                                                <%=humidity%> <i class="bi bi-percent"></i>
                                            </span>
                                        </figcaption>
                                    </figure>
                                </td>
                                
                                <td class="col col-lg-2 border-left">
                                    <figure class="figure">
                                        <i class="bi bi-thermometer-sun" style="color: chocolate;"></i>
                                        <figcaption class="figure-caption" style="font-style:oblique;">
                                            Temp:<br>
                                            <span style="font-size: 12px;" name="temp" id="temp">
                                                <%=temp%>&#8451;
                                            </span>
                                        </figcaption>
                                    </figure>
                                </td>
                               
                                <td class="col col-lg-2 border-left">
                                    <figure class="figure">
                                        <i class="bi bi-moisture" style="color: red;"></i>
                                        <figcaption class="figure-caption" style="font-style:oblique;">
                                            moisture:<br>
                                            <span id="moisture" name="moisture">
                                                <%=moisture%> <i class="bi bi-percent"></i>
                                            </span>
                                        </figcaption>
                                    </figure>
                                </td>
                               
                            </tr>
                            <tr>
                            
                                <td class="col col-lg-2" name="humAlert" id="humAlert">
                                    Good
                                </td>
                                <td class="col col-lg-2 border-left" id="tempAlert" name="tempAlert">
                                    Good
                                </td>
                                <td class="col col-lg-2 border-left" id="moistAlert" name="moistAlert">
                                    Good
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
            </table>

        </div>
        <!-- on going activities -->
        <div class="rounded rounded-4 border border-white  shadow p-3 mb-5 " style="margin-top: 10px;">
            <div class="shadow p-1 mb-2 col-7 border border-white rounded rounded-3" style="margin-bottom: 10px;">
                <h6 class="text  font-weight-bold">On Going Activities</h6>
            </div>
            <div style="padding-left: 10px;">
                <div class="row row-cols-4">
                    <% let counter=0 %> 
                    <% events.forEach(event=>{%>
                        <div class="col">
                            <h6 class="text-center" style="font-size: 12px;" id="activityRoom<%=counter%>" class="activityRooms">
                                <%=event.EName%>
                            </h6>
                            <figure class="figure inside-link">
                                <a class="activityLink" href="/activity">
                                    <img class="btn btn-light" style="width: 50px;height: 50px;" src="<%=event.EPic%>"/>
                                </a>
                                <figcaption class="figure-caption text-center">
                                    <span class="badge badge-light rounded-circle"></span>
                                </figcaption>
                            </figure>
                        </div>
                        <% counter++ %> 
                        <%});%>

                </div>
            </div>

        </div>

        <!--tips and badges-->
        <div class="container border border-white shadow p-3 mb-5 rounded" style="margin-top: 20px;">
            <div class="row">
                <div class="col-2">
                    <figure class="figure border border-white rounded-circle" style="height: 50px;width: 50px;">
                        <img src="images/icon/like.png" style="height: 40px;width: 40px;">
                    </figure>
                    <figcaption class="figure-caption">
                        <a href="fun_fact.html">
                            <button type="button" class="btn btn-outline-success btn-sm">more</button>
                        </a>

                    </figcaption>
                </div>
                <div class="col-7">
                    <p>

                    <h6 class="text text-center font-weight-bold">Did you know?</h6>
                    </h6>
                    <p class="text text-center"><abbr>playing music around your plant is a good idea</abbr></p>
                    </p>

                </div>



            </div>

        </div>


    </div>
    <!--all plant related measures -->
    <div hidden>
        <ul>
            <li id="minTemp">
                <%=minTemp%>
            </li>
            <li id="maxTemp">
                <%=maxTemp%>
            </li>
            <li id="minHum">
                <%=minHum%>
            </li>
            <li id="maxHum">
                <%=maxHum%>
            </li>
            <li id="minMoist">
                <%=minMoist%>
            </li>
            <li id="maxMoist">
                <%=maxMoist%>
            </li>
        </ul>
    </div>
    <script type="text/javascript">

        let leaderId = document.getElementById("leaderId");
        const activityLinks = document.getElementsByClassName('activityLink');
        let activityRooms = document.getElementsByClassName('activityRooms');
        let currentUserId = document.getElementById('userId').innerHTML;
        let userAvatar = document.getElementById('userAvatar').getAttribute('src');
        let username = document.getElementById('username').innerHTML;

        for (let i=0;i<activityLinks.length;i++) {
        let activityRoom = document.getElementById('activityRoom'+i).innerHTML;
        activityLinks[i].href += "?"+"&currentUserId="+currentUserId.trim() + "&userAvatar=" + userAvatar.trim() + "&username=" + username.trim() + "&activity=" + activityRoom.trim();
        
    }
        

        leaderId.href += "?" + "&currentUserId=" + currentUserId;


        let temperature = document.getElementById("temp").innerHTML;
        let humidity = document.getElementById("humidity").innerHTML;
        let moisture = document.getElementById("moisture").innerHTML;

        let minTemp = document.getElementById("minTemp").innerHTML;
        let maxTemp = document.getElementById("maxTemp").innerHTML;

        let minHum = document.getElementById("minHum").innerHTML;
        let maxHum = document.getElementById("maxHum").innerHTML;

        let minMoist = document.getElementById("minMoist").innerHTML;
        let maxMoist = document.getElementById("maxMoist").innerHTML;

        //alert labels 
        let tempAlert = document.getElementById("tempAlert");
        let humAlert = document.getElementById("humAlert");
        let moistAlert = document.getElementById("moistAlert");

        //temperature alert
        if (parseFloat(temperature) >= parseFloat(minTemp) && parseFloat(temperature) <= parseFloat(maxTemp)) {
            // do something here if inputs are same
            tempAlert.innerHTML = '<i class="bi bi-hand-thumbs-up " style="color:green"></i> Good';
        } else if (parseFloat(temperature) > parseFloat(maxTemp)) {
            // 
            tempAlert.innerHTML = '<i class="bi bi-exclamation-triangle " style="color: red;"></i> High';

            // tempAlert="<h6>Bad-High temp</h6>"
        } else if (parseFloat(temperature) < parseFloat(minTemp)) {
            tempAlert.innerHTML = '<i class="bi bi-exclamation-triangle blink" style="color:red"></i> Low';
        }

        //humidity alert

        if (parseFloat(humidity) >= parseFloat(minHum) && parseFloat(humidity) <= parseFloat(maxHum)) {
            // do something here if inputs are same
            humAlert.innerHTML = '<i class="bi bi-hand-thumbs-up " style="color:green"></i> Good';
        } else if (parseFloat(humidity) > parseFloat(maxHum)) {
            // 
            humAlert.innerHTML = '<i class="bi bi-exclamation-triangle " style="color:red"></i> High';

            // tempAlert="<h6>Bad-High temp</h6>"
        } else if (parseFloat(humidity) < parseFloat(minHum)) {
            humAlert.innerHTML = '<i class="bi bi-exclamation-triangle " style="color:red"></i> Low';
        }

        //moisture alert
        if (parseFloat(moisture) >= parseFloat(minMoist) && parseFloat(moisture) <= parseFloat(maxMoist)) {
            // do something here if inputs are same
            moistAlert.innerHTML = '<i class="bi bi-hand-thumbs-up" style="color:green"></i> Good';
        } else if (parseFloat(moisture) > parseFloat(maxMoist)) {
            // 
            moistAlert.innerHTML = '<i class="bi bi-exclamation-triangle blink" style="color:red"></i> High';

            // tempAlert="<h6>Bad-High temp</h6>"
        } else if (parseFloat(moisture) < parseFloat(minMoist)) {
            moistAlert.innerHTML = '<i class="bi bi-exclamation-triangle blink" style="color:red"></i> Low';
        }



    </script>
</body>

</html>