<!doctype html>

<html ng-app="angApp">

<head>
    <!--Angular and Angular-animate-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-animate/1.8.2/angular-animate.min.js"></script>
    <!--Angular controller-->
    <script src="controllers/welcomeCon.js"></script>
    <!--css part-->
    <link rel="stylesheet" href="views/css/welcome.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <meta charset="UTF-8">
    <title>
        Plantery
    </title>
</head>
<body ng-controller="WelcomeController">
    <!-- top navBar -->
    <div class="modal">
        <div class="modal-content">
            <div class="modal-video">
                <img style="width: 100%; height:100%; background-attachment: fixed;" id="bg" class="center" src="http://192.168.1.73:5000/video_feed">
            </div>
            <div id="modal-close">
                <div id="close-modal"><i class="bi bi-fullscreen-exit"></i></div>
            </div>
        </div>
    </div>
    <div class="topnav">
        <a href="#" class="active" style="margin-right: 1.2em;">Welcome</a>
        <a href="#" ng-click="goToProfile()">Profile</a>
        <a href="#">VirtualGarden</a>
        <a href="#" ng-hide="hideDash">Dashboard</a>
        <span>Plantery</span>
    </div>
    <!--content-->
    <div id="contents">
        <div class="top v">
            <div class="titleDiv">Our Plants</div>
            <div id="gallery">
                <div class="slides-container">
                    <div class="slides-track">
                        <div class="slide current-slide">
                            <div class="photo">
                                <div class="plant"></div>
                                <div class="user-avatar"></div>
                                <div class="text">
                                    <div></div>
                                    <div>Of</div>
                                    <div></div>                                
                                </div>
                            </div>
                            <div class="photo">
                                <div class="plant"></div>
                                <div class="user-avatar"></div>
                                <div class="text">
                                    <div></div>
                                    <div>Of</div>
                                    <div></div>    
                                </div>
                            </div>
                            <div class="photo">
                                <div class="plant"></div>
                                <div class="user-avatar"></div>
                                <div class="text">
                                    <div></div>
                                    <div>Of</div>
                                    <div></div>    
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="photo">
                                <div class="plant"></div>
                                <div class="user-avatar"></div>
                                <div class="text">
                                    <div></div>
                                    <div>Of</div>
                                    <div></div>    
                                </div>
                            </div>
                            <div class="photo">
                                <div class="plant"></div>
                                <div class="user-avatar"></div>
                                <div class="text">
                                    <div></div>
                                    <div>Of</div>
                                    <div></div>    
                                </div>
                            </div>
                            <div class="photo">
                                <div class="plant"></div>
                                <div class="user-avatar"></div>
                                <div class="text">
                                    <div></div>
                                    <div>Of</div>
                                    <div></div>    
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="photo">
                                <div class="plant"></div>
                                <div class="user-avatar"></div>
                                <div class="text">
                                    <div></div>
                                    <div>Of</div>
                                    <div></div>    
                                </div>
                            </div>
                            <div class="photo">
                                <div class="plant"></div>
                                <div class="user-avatar"></div>
                                <div class="text">
                                    <div></div>
                                    <div>Of</div>
                                    <div></div>    
                                </div>
                            </div>
                            <div class="photo">
                                <div class="plant"></div>
                                <div class="user-avatar"></div>
                                <div class="text">
                                    <div></div>
                                    <div>Of</div>
                                    <div></div>    
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="carousel_nav">
                     <button class="carousel_indicator current-dot"></button>
                     <button class="carousel_indicator"></button>
                     <button class="carousel_indicator"></button>
                </div>
            </div>
        </div>
        <div class="top b">
            <div class="titleDiv">Our Notice Board</div>
            <div class="noticeDiv">
                <div class="notice-buttons">
                    <button class="plant button-active" ng-click = "showPlantNotice()">Plant</button>
                    <button class="company" ng-click = "showCompanyNotice()">Company</button>
                </div>
                <div class="notice-board plant">
                    <ul  ng-repeat="p in plantNotices">
                        <li>Here is a little poor who needs water:<a href="#" style="color: #C2CE7A; margin-left: 0.5em;">{{p.PName}}</a><br>Click to help this thirsty plant</li>
                    </ul>
                </div>
                <div class="notice-board company" style="display: none;">
                    <ul ng-repeat="c in companyNotices">
                        <li>{{c.NContent}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="top v video">
            <div class="titleDiv">Our Garden</div>
            <div id="videoDiv">
                <div id="video">
                    <img  class="camera-bg" style="width: 100%; height:100%; background-attachment: fixed;" id="bg" class="center" src="http://192.168.1.73:5000/video_feed">
                    <button id="start-stream"><i class="bi bi-play-circle-fill"></i></button>
                </div>
                <div id="video-controll">
                    <button id="openModal"><i class="bi bi-arrows-fullscreen"></i></button>
                </div>
            </div>
        </div>
        <div class="bottom l">
            <div class="titleDiv">Our Best Gardeners</div>
            <div class="rankDiv">
                <div class="user-rank">
                    <div class="rank-number" style="color:#717825;">1</div>
                    <div class="rank-info">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="rank-avatar"></div>
                    
                </div>
                <div class="user-rank">
                    <div class="rank-number" style="color:#809663;">2</div>
                    <div class="rank-info">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="rank-avatar"></div>
                    
                </div>
                <div class="user-rank">
                    <div class="rank-number" style="color: #C2CE7A;">3</div>
                    <div class="rank-info">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="rank-avatar"></div>
                    
                </div>
                <div class="user-rank">
                    <div class="rank-number">4</div>
                    <div class="rank-info">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="rank-avatar"></div>
                    
                </div>
                <div class="user-rank">
                    <div class="rank-number">5</div>
                    <div class="rank-info">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="rank-avatar"></div>
                    
                </div>
                <div class="user-rank">
                    <div class="rank-number">6</div>
                    <div class="rank-info">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="rank-avatar"></div>
                    
                </div>
                <div class="user-rank">
                    <div class="rank-number">7</div>
                    <div class="rank-info">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="rank-avatar"></div>
                    
                </div>
                <div class="user-rank">
                    <div class="rank-number">8</div>
                    <div class="rank-info">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="rank-avatar"></div>
                    
                </div>
                <div class="user-rank">
                    <div class="rank-number">9</div>
                    <div class="rank-info">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="rank-avatar"></div>
                    
                </div>
                <div class="user-rank">
                    <div class="rank-number">10</div>
                    <div class="rank-info">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="rank-avatar"></div>
                    
                </div>
            </div>
        </div>
        <div class="bottom r">
            <div class="titleDiv">Our Events</div>
            <div class="eventDiv">
                <div class="event-type">
                    <button class="chat button-active" ng-click="chatEventActive()">Communication</button>
                    <button class = "sport" ng-click="sportEventActive()">Sport</button>
                    <button class = "meditation" ng-click="meditationEventActive()">Meditation</button>
                </div>
                <div class="event-content chat">
                    <ul ng-repeat="e in chatEvents">
                        <li>
                            <div class="event" >
                                <div class="event-img" ng-style="{'background-image': e.EPic}"></div>
                                <div class="event-text">
                                    <div class="event-info">
                                        <div class="event-list name">
                                            <div>Event's name: </div>
                                            <div>{{e.EName}}</div>
                                        </div>
                                        <div class="event-list date">
                                            <div>Date: </div>
                                            <div>{{e.EDate}} {{e.ETime}}</div>
                                        </div>
                                        <div class="event-list remote">
                                            <div>Remote accessibility: </div>
                                            <div>{{e.ERemote}}</div>
                                        </div>
                                        <div class="event-list description">
                                            Description:    {{e.EDescription}}
                                        </div>
                                    </div>
                                    <div id="event-buttons">
                                        <div id="event-button">Details</div>
                                        <div id="event-button">Join</div>                          
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="event-content sport" style="display: none;">
                    <ul ng-repeat="e in sportEvents">
                        <li>
                            <div class="event" >
                                <div class="event-img" ng-style="{'background-image': e.EPic}"></div>
                                <div class="event-text">
                                    <div class="event-info">
                                        <div class="event-list name">
                                            <div>Event's name: </div>
                                            <div>{{e.EName}}</div>
                                        </div>
                                        <div class="event-list date">
                                            <div>Date: </div>
                                            <div>{{e.EDate}} {{e.ETime}}</div>
                                        </div>
                                        <div class="event-list remote">
                                            <div>Remote accessibility: </div>
                                            <div>{{e.ERemote}}</div>
                                        </div>
                                        <div class="event-list description">
                                            Description:    {{e.EDescription}}
                                        </div>
                                    </div>
                                    <div id="event-buttons">
                                        <div id="event-button">Details</div>
                                        <div id="event-button">Join</div>                          
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="event-content meditation" style="display: none;">
                    <ul ng-repeat="e in meditationEvents">
                        <li>
                            <div class="event" >
                                <div class="event-img" ng-style="{'background-image': e.EPic}"></div>
                                <div class="event-text">
                                    <div class="event-info">
                                        <div class="event-list name">
                                            <div>Event's name: </div>
                                            <div>{{e.EName}}</div>
                                        </div>
                                        <div class="event-list date">
                                            <div>Date: </div>
                                            <div>{{e.EDate}} {{e.ETime}}</div>
                                        </div>
                                        <div class="event-list remote">
                                            <div>Remote accessibility: </div>
                                            <div>{{e.ERemote}}</div>
                                        </div>
                                        <div class="event-list description">
                                            Description:    {{e.EDescription}}
                                        </div>
                                    </div>
                                    <div id="event-buttons">
                                        <div id="event-button">Details</div>
                                        <div id="event-button">Join</div>                          
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<script>
    // carousel function
    const track = document.querySelector('.slides-track');
    const slides = Array.from(track.children);
    const dostsNav = document. querySelector('.carousel_nav');
    const dots = Array.from(dostsNav.children);
    const slideWidth = slides[0].getBoundingClientRect().width;
    const openModal = document.getElementById('openModal');
    const closeModal = document.getElementById('close-modal');
    const modal = document.querySelector('.modal');
    const smVideo = document.getElementById('video');
    const startVideo = document.getElementById('start-stream');
    const stream = document.querySelector('.camera-bg')

    //arrange the slides next to each other
    slides.forEach((slide, index) => {
        slide.style.left = slideWidth * index +'px';
    })
    //move slides
    const moveToSlide = (track, currentSlide, targetSlide) => {
        track.style.transform = 'translateX(-' + targetSlide.style.left + ')'
        currentSlide.classList.remove('current-slide');
        targetSlide.classList.add('current-slide');
    }

    dostsNav.addEventListener('click',e => {
        //what indicator was clicked 
        const targetDot = e.target.closest('button');

        if(!targetDot) return;

        const currentSlide = track.querySelector('.current-slide');
        const currentDot = dostsNav. querySelector('.current-dot');
        const targetIndex = dots.findIndex(dot => dot===targetDot);
        const targetSlide = slides[targetIndex];
        
        moveToSlide(track, currentSlide, targetSlide);

        currentDot.classList.remove('current-dot');
        targetDot.classList.add('current-dot');
        
    })
    //start sm-video streaming
    startVideo.addEventListener('click',e=>{
        startVideo.style.setProperty("display","none")
        stream.style.setProperty("display","block")
    })
    //stop sm-video
    stream.addEventListener('click',e=>{
        stream.style.setProperty("display","none")
        startVideo.style.setProperty("display","block")
    }) 
    //open modal
    openModal.addEventListener('click',e =>{
        modal.style.setProperty("display", "flex", "important");
        // modal.style.removeProperty("display");
    })
    //exit modal
    closeModal.addEventListener('click',e => {
        
        modal.style.removeProperty("display");
    })

</script> 
</body>
</html>   